@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    box-sizing: border-box;
}

#periodic-table {
    width: fit-content;
}

#periodic-table-main, #periodic-table-bottom {
    display: block;
    font-size: 0;
    font-family: Nunito, sans-serif;
}

#periodic-table-bottom {
    margin-left: 170px;
    margin-top: 20px;
}

#periodic-table-main>.element:nth-child(19n + 2),
#periodic-table-main>.blank:nth-child(19n + 2){
    margin-right: 20px;
}

.element, .blank {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    line-height: 1.2;
    font-size: 25px;
}

.blank {
    color: transparent;
    user-select: none;
}

.element {
    position: relative;
    border: 1px solid black;
    outline: 1px solid black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.element.noble-gas { background-color: #feb; }
.element.halogen { background-color: #ffc; }
.element.non-metal { background-color: #bfe; }
.element.metalloid { background-color: #bff; }
.element.post-transition-metal { background-color: #bef; }
.element.transition-metal { background-color: #dcf; }
.element.rare-earth-metal { background-color: #edf; }
.element.alkali-earth-metal { background-color: #fdf; }
.element.alkali-metal { background-color: #fcd; }
.element.actinoid { background-color: #def; }
.element.unknown { color: #bbb; }

.element.radioactive {

}

.element::after {
    position: absolute;
    font-size: 12px;
    content: attr(data-number);
    top: 4px;
    left: 4px;
}

.element>.element-name {
    display: inline-block;
    position: absolute;
    font-size: 12px;
    content: attr(data-name);
    bottom: 6px;
    --text-shrink: 100%;
    transform: scaleX(var(--text-shrink));

    /*max-width: 60px;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

.element>.element-mass {
    position: absolute;
    font-size: 12px;
    content: attr(data-name);
    top: 4px;
    right: 4px;
}

.element>.element-oxidation { display: none; }
.element:hover>.element-oxidation:not(:last-child)::after {
    content: ', ';
}
.element:hover>.element-oxidation {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    font-size: 12px;
    content: attr(data-name);
    top: 20px;
    right: 4px;
}

#info-bar[data-state='hidden'] * {
    display: none;
}